table {
    font-family: Arial, sans-serif; /* задаем шрифт для всей таблицы */
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 13px;
    width: 700px;
    height: 200px;
    border-collapse: collapse; /* убираем все белые полосы */
}
table td,
table th {
    border-right: 2px solid white;
    text-align: center;
    width: 350px;
    height: 50px;
    padding: 0 7px; /* внутренний отступ текста слева и справа по 7px */
}

#first_column {
    width: 200px;
    text-align: start;
}

.price_table {
    font-weight: bold;
    font-size: large;
}

.price {
    font-size: xx-large;
}

.main_table {
    height: 50px;
    color: rgb(211, 211, 211);
}

#basic {
    background-color: aqua;
}
#standart {
    background-color: rgb(109, 160, 255);
}
#pro {
    background-color: rgb(223, 108, 108);
}
